services:
  app:
    build:
      context: .
      target: development # <--- Indica qual parte do Dockerfile usar
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    ports:
      - "3000:3000"